.Chat {
  padding: var(--block-padding);

  border-radius: var(--block-roundness);

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: RGB(var(--primary-color), 0.1);
}

.MessageArea {
  height: 100%;
  max-height: 78vh;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  gap: calc(var(--block-padding) / 1.5);
  margin-bottom: var(--block-padding);

  overflow-y: auto;
}

.NothingSelected {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.NothingSelected span {
  background-color: RGB(var(--primary-color), 0.1);

  padding: calc(var(--block-padding) / 2.3) var(--block-padding);

  border-radius: var(--block-roundness);

  font-size: var(--font-size-m);
  font-weight: 600;

  user-select: none;
}

.NothingSelected span:hover {
  background-color: RGB(var(--primary-color), 0.2);
}
