.MessageInput {
  font-weight: 600;
  font-size: var(--font-size-m);
  width: 100%;

  /* padding: calc(var(--block-padding) / 1.5); */

  border-radius: var(--block-roundness);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 5px;

  background-color: RGB(var(--primary-color), 0.1);
}

.InputElement {
  width: 100%;

  padding: calc(var(--block-padding) / 1.5);

  background: none;
  color: inherit;
  font-weight: inherit;

  border: none;
}

.InputElement::placeholder {
  font-weight: 400;
}

.InputElement:focus {
  outline: none;
}

.MessageInput:focus-within {
  outline: 2px solid RGB(var(--accent-color));
}
